Source: vmod-redis
Section: net
Priority: extra
Maintainer: Varnish Software <opensource@varnish-software.com>
Build-Depends: debhelper (>= 9),
 autoconf-archive,
 redis,
 build-essential,
 pkg-config,
 python3-docutils,
 libev-dev,
 libhiredis-dev,
 varnish (= @VERSION@),
 varnish-dev (= @VERSION@)
Standards-Version: 1.0.3
Homepage: https://github.com/carlosabalde/libvmod-redis/

Package: vmod-redis
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${Varnish:ABI},
Description: VMOD using the synchronous hiredis library API to access Redis servers from VCL
