Source: vmod-redis
Section: net
Priority: extra
Maintainer: Varnish Software <opensource@varnish-software.com>
Build-Depends:
 autoconf-archive,
 build-essential,
 debhelper (>= 9),
 debhelper-compat (= 11),
 libev-dev,
 libhiredis-dev,
 pkg-config,
 python3-docutils,
 redis,
 varnish,
 varnish-dev,
Standards-Version: 1.0.3
Homepage: https://github.com/carlosabalde/libvmod-redis/

Package: vmod-redis
Architecture: any
Depends:
 varnish (= ${binary:Version}),
 ${varnishd:ABI},
 ${shlibs:Depends},
 ${misc:Depends},
Description: VMOD using the synchronous hiredis library API to access Redis servers from VCL
