#!/usr/bin/make -f
DEB_BUILD_OPTIONS=noddebs

%:
	dh $@ --parallel

VARNISHD_ABI = $(shell varnishd -V 2>&1 | sed -En 's/.*revision ([0-9a-f]*).*/\1/p')

override_dh_gencontrol:
	echo "varnishd:ABI=varnishd-abi-$(VARNISHD_ABI)" >> debian/substvars
	dh_gencontrol -- -Tdebian/substvars

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

execute_after_dh_auto_install:
	sed -i "/^dependency_libs=/s/'.*'/''/" `find debian -name '*.la'`

override_dh_auto_configure:
	dh_auto_configure -- --localstatedir=/var/lib --libdir=/usr/lib --disable-tls

# TODO: understand why tests fail
override_dh_auto_test:
