#!/usr/bin/make -f
DEB_BUILD_OPTIONS=noddebs

CARGO=~/.cargo/bin/cargo
override_dh_auto_configure:
	curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | bash -s -- -y
	${CARGO} fetch --locked

override_dh_auto_build:
	${CARGO} build --frozen --release

override_dh_auto_install:
	install -Dt debian/vmod-reqwest/usr/lib/varnish/vmods/ target/release/libvmod_reqwest.so

override_dh_auto_test:
	# VARNISHTEST_DURATION=20s is needed because some test may go slightly over the 5s timeout
	# export RUST_BACKTRACE=1; export VARNISHTEST_DURATION=20s; ${CARGO} test --frozen --release
	true

%:
	dh $@
