Source: vmod-digest
Section: net
Priority: extra
Maintainer: Varnish Software <opensource@varnish-software.com>
Build-Depends: debhelper (>= 9),
 autoconf-archive,
 build-essential,
 pkg-config,
 python3-docutils,
 libmhash-dev,
 varnish (= @VERSION@),
 varnish-dev (= @VERSION@)
Standards-Version: 1.0.3
Homepage: https://github.com/varnish/libvmod-digest/tree/master

Package: vmod-digest
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${Varnish:ABI},
Description: Varnish Module (vmod) for computing HMAC, message digests and working with base64.
 All HMAC- and hash-functionality is provided by libmhash, while base64 is implemented locally.
