#!/usr/bin/make -f
DEB_BUILD_OPTIONS=noddebs

%:
	dh $@

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

execute_after_dh_auto_install:
	sed -i "/^dependency_libs=/s/'.*'/''/" `find debian -name '*.la'`
