Source: vmod-uuid
Section: net
Priority: extra
Maintainer: Varnish Software <opensource@varnish-software.com>
Build-Depends:
 autoconf-archive,
 build-essential,
 debhelper (>= 9),
 debhelper-compat (= 11)
 libossp-uuid-dev
 pkg-config,
 python3-docutils,
 varnish (= @VERSION@),
 varnish-dev (= @VERSION@),
Standards-Version: 3.9.5
Vcs-Git: git://github.com/otto-de/libvmod-uuid.git

Package: vmod-uuid
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${Varnish:ABI},
Description: Varnish module collection by Varnish Software
 This is a collection of modules ("vmods") extending Varnish VCL used for
 describing HTTP request/response policies with additional capabilities.
 .
 Modules add support for variables, client request body access, simpler
 handling of HTTP cookies, request and bandwidth throttling, complex HTTP
 headers modification, advanced cache invalidations, and more.
 .
 Included vmods:
 cookie, vsthrottle, header, saintmode, softpurge, tcp, var, xkey, bodyaccess
