Source: vmod-jq
Section: net
Priority: extra
Maintainer: Varnish Software <opensource@varnish-software.com>
Build-Depends: debhelper (>= 9),
 autoconf-archive,
 build-essential,
 pkg-config,
 python3-docutils,
 varnish (= @VERSION@),
 varnish-dev (= @VERSION@),
 libjq-dev
Standards-Version: 3.9.5
Vcs-Git: git://github.com/otto-de/libvmod-jq.git

Package: vmod-jq
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${Varnish:ABI},
Description: Varnish module collection by Varnish Software
 This is a collection of modules ("vmods") extending Varnish VCL used for
 describing HTTP request/response policies with additional capabilities.
 .
 Modules add support for variables, client request body access, simpler
 handling of HTTP cookies, request and bandwidth throttling, complex HTTP
 headers modification, advanced cache invalidations, and more.
 .
 Included vmods:
 cookie, vsthrottle, header, saintmode, softpurge, tcp, var, xkey, bodyaccess
