Source: vmod-geoip2
Section: net
Priority: extra
Maintainer: Federico G. Schwindt <fgsch@lodoss.net>
Build-Depends: debhelper (>= 9),
 autoconf-archive,
 build-essential,
 pkg-config,
 python3-docutils,
 libmaxminddb0,
 libmaxminddb-dev,
 varnish (= @VVERSION@),
 varnish-dev (= @VVERSION@)
Standards-Version: 1.3.0
Homepage: https://github.com/varnishcache-friends/libvmod-geoip2

Package: vmod-geoip2
Architecture: any
Depends: varnish (= @VVERSION@),
 ${shlibs:Depends},
 ${misc:Depends},
 ${Varnish:ABI},
Description: A Varnish master VMOD to query MaxMind GeoIP2 DB files.
