#!/usr/bin/make -f

# taken from https://salsa.debian.org/md/varnish-vmod-digest/-/blob/master/debian/rules

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/buildflags.mk

D := $(CURDIR)/debian/vmod-querystring

# for aclocal
export LIBVARNISHAPI_DATAROOTDIR = $(shell pkg-config --variable=datarootdir varnishapi)

%:
	echo $@
	pwd
	ls
	dh $@

override_dh_autoreconf:
	./bootstrap dh_autoreconf

execute_after_dh_auto_install:
	rm -rf $D/usr/share/doc/libvmod-querystring/
	sed -i "/^dependency_libs=/s/'.*'/''/" `find $D -name '*.la'`
