#!/usr/bin/make -f

export DH_VERBOSE=1

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- --disable-flush-jemalloc-tcache

# TODO fix for failing test on arm
override_dh_auto_test:
	if [ $$(uname -m) != "aarch64"]; then \
		dh_auto_test; \
	else \
		dh_auto_test -- --no-act; \
	fi

%:
	echo $@
	pwd
	ls
	dh $@
